<div class="center hero-unit">
	<h1>Welcome to the StadiumVision Mobile App Manager</h1>

	<h2>
		This is the home page for the StadiumVision Mobile App Manager
	</h2>

	<%= link_to 'Sign-Up Now!', '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("cisco_logo_small.png", alt: "Cisco"), 'http://www.cisco.com/web/strategy/sports/StadiumVision.html' %>