<footer class="footer">
	<small>
		<a href="http://www.cisco.com/web/strategy/sports/StadiumVision.html">Cisco StadiumVision</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://www.cisco.com/web/strategy/sports/StadiumVision.html">News</a></li>
		</ul>
	</nav>
</footer>